
body {
    min-height: 100%;
    background-image: linear-gradient(#0a1722,#02060a);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
 
 
 header {
     display: flex;
     justify-content: center;
     margin-bottom: 35px;
     color: #365d8ace;
     font-size: 14px;
     background-color: rgba(0, 0, 0, 0.822);
 
 }
 
/*Main*/
 
.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}
 
button {
    padding: 17px;
    border: 2px solid #2c4a6dce;
    cursor: pointer;
    background-color: transparent;
    transition: all .5s ease;
    text-align: center;
    border-radius: 5px;
}
 
button:hover {
    border-color: #f2f4f7;
    background: #bdc2c9b9;
}
 
button.active {
    background-color: #2c4a6dce;
}
 
.toolbar, .color-dock {
    display: flex;
    flex-direction: column;
}
 
.toolbar {
    margin-right: 40px;
    gap: 25px;
    height: 700px;
}
 
 
.color-dock {
    width: 150px;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #f2f4f7;
    margin-left: 40px;
    background-color: #1c2f44a6;
    border-radius: 12px;
}
 
#color-selector {
    text-align: center;
    font-size: 15px;
}
 
 /*Grid*/
 
 .container {
     width: 700px;
     height: 700px;
     display: grid;
 }
 
 
 /*Grid Options*/
 
 .grid-settings {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 100px;
}
 
#size-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
 
#size-number {
    color: #3d71ac;
    font-size: 20px;
    margin-bottom: 5px;
}
 
 #slider {
     -webkit-appearance: none;
     height: 7px;
     width: 150px;
     border-radius: 25px;
     background-color: #2c4a6dce;
 }
 
#slider,
#slider::-webkit-slider-thumb,
#slider::-moz-range-thumb,
#slider::-ms-thumb {
    -webkit-appearance: none;
    background: #3d71ac;
}
 
 
 /*Footer*/
 
 footer {
     display: flex;
     justify-content: center;
     font-size: 15px;
     margin-top: 35px;
 }
 
 footer, #link, a:visited {
     text-decoration: none;
     color: #142536;
 }
